/* General resets */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
    color: #ff0000;
    text-align: center;
    background: url('bg.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px;
}

header h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #33dcf6;
    padding-top: 10px;
}

footer a {
    color: #00c3ff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-shadow: 0 0 5px #00c3ff;
}

/* Input and Button Styles */
form input,
form button {
    display: block;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(27, 158, 158);
}

form input {
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form button {
    width: 50%;
    background: #00c3ff;
    color: #b90909;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background: #0091cc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
